/** ---------------------------------------------------------
*
* Dis.Cover - Template
*
*
* Author: Janina Imberg
* Date: 27.04.2013
*
* ----------------------------------------------------------*/


/** ---------------------------------------------------------
* Custom font: Avenir
* ----------------------------------------------------------*/
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirLTStd-Light.eot');
    src: url('../fonts/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirLTStd-Light.woff') format('woff'),
    url('../fonts/AvenirLTStd-Light.ttf') format('truetype'),
    url('../fonts/AvenirLTStd-Light.svg#Avenir') format('svg');
    font-weight: bold; /*strange... bold makes font lighter ;) */
    font-style: normal;
}


/** ---------------------------------------------------------
* General styles and resets
* ----------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-text-size-adjust: 100%; /* iOS / Safari font-size bug */
    -ms-text-size-adjust: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font: 16px/26px Helvetica, Arial, sans-serif;
    color: #333;
}

:focus {
    outline: 0px solid transparent;
}

::-moz-selection {
    background: #333;
    text-shadow: none;
}

::selection {
    background: #333;
    text-shadow: none;
}


img {
    vertical-align: middle;
}

img a {
    border: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

a:link,
a:active,
a:visited,
a:hover {
    text-decoration: none;
    color: #fff6ec;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

ul,
ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    -webkit-tap-highlight-color: rgb(255,255,158);
}


/** ---------------------------------------------------------
* Typographic presets
* ----------------------------------------------------------*/
p {}
h1 {
    font-size: 22px;
}

h2 {
    font-size: 16px;
    line-height: 16px;
}

h2.subtitle {
    color: #463833;
    padding: 5px 0 0 0;
}
h3 {
    font-size: 12px;
    color: #463833;
    font-weight: normal;
    text-align: center;
}
h4 {}
h5 {}
h6 {}


/** ---------------------------------------------------------
* Base layout - 800px and above
* ----------------------------------------------------------*/
body {
    width: 100%;
    background: #1e2126;
    color: #fff6ec;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
    font-family: Avenir;
    text-transform: uppercase;
}

header {
    width: 960px;
}

#content {
    margin-top: 40px;
}

#greetings {
    padding: 5px 0 2px 0;
    /*border-top: 1px dotted #675d5c;*/
    border-bottom: 1px dotted #675d5c;
    font-size: 14px;
    text-align: right;
    line-height: 28px;
    margin: 5px 0;
}

#greetings h2 {
    font-size: 14px;
    text-align: left;
    color: #675d5c;
    display: inline;
    float: left;
    line-height: 28px;
}

#greetings a {
    color: #675d5c;
    line-height: 28px;
}

#overlay {
    width: 100%;
    height: 100%;
    display: none;
    background: #000;
    margin: 0;
    padding: 0;
    z-index: 1001;
    opacity: 0.8;
    position: absolute;
}

/** ---------------------------------------------------------
* Dialogs
* ----------------------------------------------------------*/
.dialog {
    color: #675d5c;
}

.dialog .button-close {
    float: right;
    font-size: 30px;
    color:  #a7a49f;
    cursor: pointer;
}

.dialog .button-close:hover {
    color: #675d5c;
}

.dialog a {
    display: block;
    text-align: center;
    background: #04bdcc;
    height: 32px;
    line-height: 32px;
    color: #fff;
    margin: 10px 0;
    cursor: pointer;
}

.dialog a.dismiss {
    background: #675d5c;
}

/** ---------------------------------------------------------
* Navigation
* ----------------------------------------------------------*/
ul#main-navigation li {
    list-style: none;
    display: inline-block;
    padding: 5px 15px 0px 0;
    text-align: center;
    font-size: 18px;
}

ul#main-navigation li:last-child,
ul#main-navigation li:last-of-type {
    padding: 0;
}

ul#main-navigation li a {
    color: #a7a49f;
}

ul#main-navigation li.active a {
    color: #fff6ec;
}

/** ---------------------------------------------------------
* Map
* ----------------------------------------------------------*/
#map {
    width: 100%;
    height: 480px;
}

/** override some defaults **/
.leaflet-popup-content-wrapper {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    color: #333;
}

.leaflet-popup-tip-container {
    display: none;
    height: 0;
    width: 0;
}

.leaflet-popup-tip {
    display: none;
}

#check-in {
    width: 100%;
    height: 36px;
    text-align: center;
    margin: 20px 0;
    display: block;
    background: #04bdcc;
    line-height: 40px;
    font-weight: normal;
}

#confirm-check-in {
    position: absolute;
    z-index: 1002;
    width: 220px;
    height: 130px;
    background: #fff;
    padding: 15px;
    margin: 80px 25px 0;
}

/** ---------------------------------------------------------
* History page
* ----------------------------------------------------------*/

.container {
}

.container.history {
    width: 235px;
    /*margin: 0 0 20px 65px;*/
    margin: 0 0 20px 25px;
    float: left;
}

.container .history-wrapper {
    width: 225px;
    float: left;
}

.container.history .history-head {
    padding: 10px 15px;
}

.container.history.solved .history-head {
    background: #04bdcc;
}

.container.history.open .history-head {
    background: #d86853;
}

.container.history .icon {
    width: 24px;
    height: 30px;
    float: right;
    margin-top: 15px;
}
.container.history.solved .icon {
    background: url( '../images/icon_solved_sml.png') center center no-repeat;
}

.container.history.open .icon {
    background: url( '../images/icon_open_sml.png') center center no-repeat;
}

.container.history .arrow {
    float: left;
    width: 10px;
    height: 27px;
    margin-top: 30px;
}

.container.history.solved .arrow {
    background: url( '../images/arrow_solved_sml.png') center right no-repeat;
}

.container.history.open .arrow {
    background: url( '../images/arrow_open_sml.png') center right no-repeat;
}

.container.history .history-content {
    background: #fff6ec;
    width: 225px;
    height: 80px;
}

.container.history.solved .history-content {
}

.container.history.open .history-content {
}

.container.history .history-summary h3 {

}

.container.history .history-summary div {
    font-size: 36px;
    text-align: center;
    line-height: 36px;
    color: #d86853;
    text-shadow: 0 1px 0 #fff;
}

.container.history.open .history-summary div {
    color: #a7a49f;
}

.container.history .history-summary li {
    width: 32%;
    display: inline-block;
    height: 74px;
    padding: 6px 0 0 0;
}

.container.history .history-summary li.middle {
    box-shadow:
        1px 0 0 #fff,
        -1px 0 0 #fff,
        inset 0px 0 8px #ded8d2;
}

/** ---------------------------------------------------------
* Profile page
* ----------------------------------------------------------*/
.container.profile {
    width: 275px;
    margin: 0 0 20px 25px;
    float: left;
}
.container .profile-wrapper {
    width: 225px;
    float: left;
}

.container.profile .arrow {
    float: left;
    width: 10px;
    height: 27px;
    margin-top: 30px;
    background: url( '../images/arrow_solved_sml.png') center right no-repeat;
}

.container.profile .profile-head {
    padding: 10px 15px;
    background: #04bdcc;
}

.container.profile .profile-content {
    background: #fff6ec;
    width: 195px;
    padding: 10px 15px;
}

#avatar {
    width: 59px;
    height: 59px;
    border: 1px solid #04bdcc;
    float: right;
    background: url( '../images/avatar_dummy_sml.png' ) center center no-repeat;
}

#profile-form input {
    height: 24px;
    width: 195px;
    border: none;
    background: url( '../images/icon_edit.png' ) right center no-repeat transparent;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #a7a49f;
    font-size: 18px;
}

#profile-form input:focus {
    /*border-bottom: 1px dotted #a7a49f;*/
    background: url( '../images/icon_edit.png' ) right center no-repeat #FFFDFA;
    font-style: italic;
}

#profile-submit input[type="submit"],
#profile-delete input[type="button"],
#profile-delete button {
    height: 30px;
    text-align: center;
    width: 195px;
    margin: 5px 0;
    border: none;
    display: block;
    font-family: Avenir;
    text-transform: uppercase;
    font-size: 14px;
    color: #FFF;
    cursor: pointer;
}

#profile-submit input[type="submit"] {
    background: #04bdcc;
}

#profile-delete input[type="button"],
#profile-delete button {
    background: #463833;
    margin-bottom: 15px;
}

#profile-form h3 {
    text-align: left;
}

.container.profile hr {
    border: none;
    border-bottom: 1px dotted #a7a49f;
}

.container.profile h2 {
    color: #463833;
    padding: 5px 0;
}

.container.profile .profile-summary * {
    text-align: left;
}

.container.profile .profile-summary div {
    font-size: 36px;
    line-height: 36px;
    color: #d86853;
    text-shadow: 0 1px 0 #fff;
}

.container.profile .profile-summary li {
    width: 95px;
    display: inline-block;
    padding: 6px 0 0 0;
}

#profile-edit-success {
    width: 300px;
    display: block;
    text-align: center;
    color: #D86853;
}

/** ---------------------------------------------------------
* Mobile Layout: 320px Portrait & Landscape
* ----------------------------------------------------------*/
@media only screen and ( min-width: 320px ) and ( max-width: 767px )  {

    body {
    }

    #wrapper {
        width: 300px;
        padding: 0 10px;
    }

    #map {
        height: 300px;
    }

}

/** ---------------------------------------------------------
* Retina media query / device-pixel-ratio of 2+
* ----------------------------------------------------------*/
@media
only screen and ( -webkit-min-device-pixel-ratio: 2 ),
only screen and ( min-device-pixel-ratio: 2 ) {

    body {

    }

}


