/** ---------------------------------------------------------
*
* dis.cover
* an interactive map game adventure :)
*
*
* yet a weird concept and no real style defined
*
* ----------------------------------------------------------*/


/** ---------------------------------------------------------
* Optional - load custom fonts
* ----------------------------------------------------------*/
/*@font-face {
    font-family: 'give-me-a-name';
    src: url('fonts/give-me-a-name.eot');
    src: url('fonts/give-me-a-name.eot?#iefix') format('embedded-opentype'),
         url('fonts/give-me-a-name.woff') format('woff'),
         url('fonts/give-me-a-name.ttf') format('truetype'),
         url('fonts/give-me-a-name.svg#give-me-a-name') format('svg');
    font-weight: normal;
    font-style: normal;
}*/


/** ---------------------------------------------------------
* General styles and resets
* ----------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font: 12px/16px Oswald, Arial, Helvetica, sans-serif;
    color: #333;
    background: url("../images/subtle-pattern-5.jpg") repeat;
    font-weight: 300;
}

:focus {
    outline: 0px solid transparent;
}

::-moz-selection {
    background: #333;
    text-shadow: none;
}

::selection {
    background: #333;
    text-shadow: none;
}


img {
    vertical-align: middle;
}

img a {
    border: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #888;
    margin: 5px 0;
    padding: 20px;
    clear: both;
}

a,
a:link,
a:active,
a:visited,
a:hover {
    text-decoration: none;
}

ul,
ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}


/** ---------------------------------------------------------
* Typographic presets
* ----------------------------------------------------------*/
p {}

h1 {}

h2 {
    text-shadow: 0px 1px 0 #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
}

h3 {}
h4 {}
h5 {}
h6 {}


/** ----------------------------------------------------------------- *
* Form Elements
* ------------------------------------------------------------------- */
input {
    background: rgb(209,209,209);
    background: -moz-linear-gradient(top,  rgba(209,209,209,1) 0%, rgba(255,255,255,1) 8%, rgba(255,255,255,1) 95%, rgba(216,216,216,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(209,209,209,1)), color-stop(8%,rgba(255,255,255,1)), color-stop(95%,rgba(255,255,255,1)), color-stop(100%,rgba(216,216,216,1)));
    background: -webkit-linear-gradient(top,  rgba(209,209,209,1) 0%,rgba(255,255,255,1) 8%,rgba(255,255,255,1) 95%,rgba(216,216,216,1) 100%);
    background: -o-linear-gradient(top,  rgba(209,209,209,1) 0%,rgba(255,255,255,1) 8%,rgba(255,255,255,1) 95%,rgba(216,216,216,1) 100%);
    background: -ms-linear-gradient(top,  rgba(209,209,209,1) 0%,rgba(255,255,255,1) 8%,rgba(255,255,255,1) 95%,rgba(216,216,216,1) 100%);
    background: linear-gradient(to bottom,  rgba(209,209,209,1) 0%,rgba(255,255,255,1) 8%,rgba(255,255,255,1) 95%,rgba(216,216,216,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#d8d8d8',GradientType=0 );

    border: 1px solid #b9b9b9;
    box-shadow:
        0 -1px 0 #999,
        0 -2px 0 #fff,
        0 1px 0 #fff;
    border-radius: 2px;
    padding: 4px 4px;
    height: 22px;
    width: 386px;
    margin: 5px 0px 5px 10px;
    color: #555;
    font-size: 13px;
}

button,
input[type='submit'] {
    cursor: pointer;

    height: 24px;
    width: 80px;

    line-height: 24px;
    text-align: center;

    padding: 0;
    margin: 20px 0 0 326px;

    font-family: Oswald, Arial, Helvetica, sans-serif;
    text-shadow: 0 1px 0 #fff;
    color: #666;
    text-transform: uppercase;

    background: rgb(255,255,255);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 34%, rgba(246,246,246,1) 91%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(34%,rgba(255,255,255,1)), color-stop(91%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 34%,rgba(246,246,246,1) 91%,rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 34%,rgba(246,246,246,1) 91%,rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 34%,rgba(246,246,246,1) 91%,rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 34%,rgba(246,246,246,1) 91%,rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );

    border-radius: 2px;
    border: 1px solid #aaa;
    box-shadow:
        0 -1px 0 #fff,
        0 1px 0 #fff;
}

button:hover,
input[type='submit']:hover {
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 34%,rgba(236,236,236,1) 91%,rgba(220,220,220,1) 100%);
    border: 1px solid #666;
}

label {
    display: block;
    margin: 15px 0px 0px 10px;
    font-size: 14px;
    text-shadow: 1px 0 0 #fff;
}

:focus {
    border: 1px solid #999;
    outline: 0px solid transparent;
}


/** ---------------------------------------------------------
* Layout container
* ----------------------------------------------------------*/
#main-container {
    position: relative;
    min-height: 100%;
    margin: 0 auto;
}

#content-container {
    width: 100%;
    min-height: 100%;
    float: left;
    padding: 20px 0;
}


/** ----------------------------------------------------------------- *
* Content columns
* ------------------------------------------------------------------- */
.content {
    width: 720px;
    margin: 0 auto;
    clear: both;
}

.content-col.col-overall-width {
    width: 720px;
    margin: 0;
}


/** ----------------------------------------------------------------- *
* Header
* ------------------------------------------------------------------- */
#header {
    height: 50px;
    margin: 0;
    padding: 0;
    background: #eee;

    border-bottom: 1px solid #CCC;
    box-shadow:
        inset 0 -1px 0 #fff,
        0 0 25px #111,
        inset 0 2px 8px #ccc;
}


/** ----------------------------------------------------------------- *
* Footer
* ------------------------------------------------------------------- */
#footer {
    width: 100%;
    height: 100px;
    margin-top: -100px;
    clear: both;
    position: relative;


    border-top: 1px solid #999;
    box-shadow:
        inset 0 1px 0 #fff,
        0 5px 25px #111,
        inset 0 10px 30px #ccc;

    background: #e0e0e0;
}


/** ----------------------------------------------------------------- *
* Navigation
* ------------------------------------------------------------------- */
#navigation {
    width: 750px;
    height: 50px;
    margin: 0 auto;
}

ul.nav li {
    display: block;
    float: left;
    height: 40px;
    min-width: 100px;
    line-height: 40px;
    padding: 4px 8px;

    text-align: center;

    border: 1px solid transparent;
    border-right: 1px solid #ccc;
    box-shadow:
        1px 0 0 #fff;

    -webkit-transition: all 120ms ease-in;
}

ul.nav li:first-child {
    border-left: 1px solid #ccc;
    box-shadow:
        1px 0 0 #fff,
        -1px 0 0 #fff;
}

ul.nav li:hover,
ul.nav li.active {
    box-shadow:
        1px 0 0 white,

        inset 1px 0px 0px #999,
        inset 0px -1px 0px silver,

        inset 0 0px 25px silver,
        inset 0 0px 5px #B0B0B0,
        inset 0 1px 0 #777;
}

ul.nav li a{
    font-family: Oswald;
    color: #333333;
    font-weight: 300;
    font-size: 14px;
    text-shadow: 1px 1px 0 #fff;
    display: block;
    text-transform: uppercase;
}

/** Navigtion Logout **/
#logout {
    float: right;
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 10px;
    color: #333;
    text-shadow:
        0 1px 0 #fff;
}

#logout:hover {
    color: #666;
}



/** ----------------------------------------------------------------- *
* Login View
* ------------------------------------------------------------------- */
#login-box {
    margin: 40px auto;

    width: 420px;
    border-radius: 5px;
    background: #EFEFEF;
    border: 1px solid #9f9f9f;

    box-shadow:
        0 1px 12px #666,
        inset 0 1px 0px #fff,
        inset 0 -1px 1px #fff;
    padding: 30px 20px;

    position: relative;
    z-index: 10;
}


/** ----------------------------------------------------------------- *
* Map Styles
* ------------------------------------------------------------------- */
#map {
    width: 748px;
    height: 558px;
    margin: 15px auto 0 auto;

    background: transparent;
    border: 1px solid #a0a0a0;

    box-shadow:
        1px 0px 0px #fff,
        -1px 0px 0px #fff,
        0px 1px 0px #fff,
        0px -1px 0px #fff;

    border-radius: 3px;
    outline: 1px solid #fafafa;
}

.cg-marker-control-layer {
    width: 100%;
    min-width: 750px;
    height: 80px;
    display: block;

    border: 1px solid #fff;
    box-shadow:
        inset 0 1px 0 #999,
        inset 0px -1px 0px #AAA,
        inset -1px 1px 15px #999,
        inset 0px 0 2px #99A;

    left: -11px;
    bottom: -11px;
}


/** ----------------------------------------------------------------- *
* override some leaflet styles
* ------------------------------------------------------------------- */
.leaflet-control-attribution.leaflet-control {
    display: none;
}


/** ----------------------------------------------------------------- *
*
* Mobile Styles
*
* ------------------------------------------------------------------- */
@media only screen and (min-width: 320px) and (max-width: 800px) {

    * {
        margin: 0 auto;
    }

    body {
        width: 100%;
    }

    #navigation {
        width: 100%;
    }

    .content {
        width: 100%;
        clear: both;
    }

    .content-col.col-overall-width {
        width: 100%;
    }

    input {
        width: 80%;
    }

    #login-box {
        width: 90%;
    }

    #map {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;

        padding: 0;
    }
}


